<!DOCTYPE html>
    <html lang="es-ES">

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <title>My-Elearning</title>
            <link href="style.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        </head>

        <body> 
            <div class = "container-fluid">
                <div class="btn-group top-left" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">About</button>
                    <button type="button" class="btn btn-primary">Registry</button>
                    <button type="button" class="btn btn-primary">Contact</button>
                  </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">                    
                    <form method="post" action ="/" class= "narrow-form">
                        <div class="mb-3">
                            <label for="InputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">                            
                        </div>
                            <div class="mb-3">
                                <label for="InputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="InputPassword1">
                            </div>                
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>                    
                </div>
            </div>

        </body>


    </html>