<!DOCTYPE html>

<html lang="es-ES">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>My-Elearning-Landing</title>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="landingStyle.css">

    </head>


    <body>
            
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Home</a><br>
                <a class="dropdown-item" href="#">Courses</a><br>
                <a class="dropdown-item" href="index.html">Exit</a>
            </div>
        </div>       

            
        <div class="container center-container">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Python Course
                <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Node Course
                <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Django Course
                <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>


        <div class="container" id="courseform">
            <form class="classFormInOut">
                <div class="form-group row">
                <label for="CourseName" class="col-sm-2 col-form-label">Find a course</label>
                <div class="col-xs-4">
                        <input type="text" class="form-control" id="CourseName" placeholder="Class">
                </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">                    
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="checkcourse" value="option1" checked>
                                <label class="form-check-label" for="checkcourse">Start Course</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="Unsubscribe" value="option2">
                                <label class="form-check-label" for="Unsubscribe">Unsubscribe Course</label>
                            </div>  
                        </div>
                    </div>
                </fieldset>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>

        
        
               
    </body>

</html>